@import 'tailwindcss';


body{
  background-color:rgb(7, 1, 31);
}
::-webkit-scrollbar{
  display: none;
}
.SignCard {
  box-shadow: inset 5px 5px 10px rgb(187, 190, 207), inset -5px -5px 5px rgb(228, 215, 215);
}